<!DOCTYPE html>
<!--

Auteur          : Michael Ramusi
Date            : 8 juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : modalUpdateMeta.html
Fonction	: Affiche un formulaire permettant de modifier les métadonnées
                  des fichiers incomplets

-->

<h3><i class="fa fa-angle-right"></i> Validation des métadonnées (ID3)</h3>
<div class="modal in" id="modal-meta-validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Métadonnées manquantes</h4>
            </div>
            <div class="modal-body">
                <p>Certains fichiers ont des métadonnées ID3 manquantes. Il est nécessaire de remplir les champs marqués en rouge afin de continuer le dépôts des fichiers mp3.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="./metadatasUpdate.js"></script>
