<!--

Auteur          : Michael Ramusi
Date            : juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : modal_update_playlist.html
Fonction	: Affiche une fenêtre modale pour update la playlist
-->
<!-- Modal -->
<div class="modal fade in" id="modal-playlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Where to add this track</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Your playlists</label> <br>
                    <select id="select-playlist"></select>
                </div>

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="accept" type="button" class="btn btn-primary">Add to playlist</button>
            </div>
        </div>
    </div>
</div>   
<script src="./controllers/updatePlaylist.js"></script>