<!DOCTYPE html>
<!--

Auteur          : Michael Ramusi
Date            : juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : modalUpdateMeta.html
Fonction	: Affiche un formulaire permettant de modifier les métadonnées
                  des fichiers incomplets
-->

<h3><i class="fa fa-angle-right"></i> Metadatas validation (ID3)</h3>
<div class="modal in" id="modal-meta-validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background-color: indianred;'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metadatas missing</h4>
            </div>
            <div class="modal-body">
                <p>Some files are missing ID3 metadatas, please update them before continue uploading.</p>
            </div>
            <div class="modal-footer">
                <button id='btnModal' type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="modal-update">
</div>
<script src="./controllers/updateID3.js"></script>
