<!DOCTYPE html>
<!--

Auteur          : Michael Ramusi
Date            : 15 juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : playlists
Fonction	: affichages des playlists de l'utilisateur

-->
<div>
    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i>  Your playlists</h4>
                <hr>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Number of tracks</th>
                    </tr>
                </thead>
                <tbody id="tBody-playlists">

                </tbody>
            </table>
        </div><! --/content-panel -->
    </div><!-- /col-md-12 -->
</div>
<script type=text/javascript src="./controllers/playlists.js"></script>