<!DOCTYPE html>
<!--

Auteur          : Michael Ramusi
Date            : 15 juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : playlist
Fonction	: affichage d'une playlist

-->
<div id="single_playlist">
    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover" id='table-playlist'>
                <h4 id='title-playlist'><i class="fa fa-angle-right"></i></h4>
                <hr>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Track</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div><! --/content-panel -->
    </div><!-- /col-md-12 -->
</div>
<script type=text/javascript src="./controllers/single_playlist.js"></script>
