<!DOCTYPE html>
<!--

Auteur	: Michael Ramusi
Date	: 14 juin 2017 
Projet	: AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier	: single_album
Fonction	:

-->
<div id="single_album">
    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i></h4>
                <hr>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Track name</th>
                        <th>Artist name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tBody-single-album">

                </tbody>
            </table>
        </div>
    </div><!-- /col-md-12 -->
</div>
<script type="text/javascript" src="./controllers/single_album.js"></script>