<!DOCTYPE html>
<!--

Auteur	: Michael Ramusi
Date	: 14 juin 2017 
Projet	: AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier	: single_album
Fonction	:

-->
<div id="single_album">
    <div class="col-md-12 mt">
        <div class="content-panel">
            <table class="table table-hover">
                <h4><i class="fa fa-angle-right"></i></h4>
                <hr>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Simon</td>
                        <td>Mosa</td>
                    </tr>
                </tbody>
            </table>
        </div><! --/content-panel -->
    </div><!-- /col-md-12 -->
</div>
<script type="text/javascript" src="./single_album.js"></script>