<div id='file-upload'>
    <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
    <div class="row mt">
        <div class="col-lg-12">




            <form id="formUpload" action="#" method="post" enctype="multipart/form-data">
                <input class="btn bt-theme" type="file" id="inputFile" name="uploadedFiles[]" multiple="" accept="audio/mp3">
                <input type="submit" name="formSubmit" value="send">
<!--                <button id="btnUpload" class="btn btn-theme">Upload my music !</button>-->
            </form>




        </div>
    </div>
</div>
<script src="./assets/js/jsmediatags.js"></script>
<script src="./home.js"></script>



