/*

Auteur          : Michael Ramusi
Date            : juin 2017 
Projet          : AudioFilePlayer
Copyright	: TPI 2017 - Michael RAMUSI
Fichier         : myStyle.css
Fonction	: style pour le template

*/


a:hover{
    cursor: pointer;
}
.artist-tile:hover, .album-tile:hover, .list-user:hover{
    cursor: pointer;
}
.site-footer{
    background-color: #fff;
    border-top: 1px solid #424a5d;
}
#audioplayer{
    width: 480px;
    height: 60px;
    margin: 50px auto auto auto;
    border: solid;
}
#btn-next{
    background: url('../img/next.png');
}
#btn-previous{

    background: url('../img/previous.png');
}
#btn-play, #btn-next, #btn-previous{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{
    background: url('../img/play.png') ;
    width: 80%;
}
.pause{
    background: url('../img/pause.png') ;
}

#timeline{
    width: 200px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);
}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}

#total-time, #actual-time{
    margin-top:18%;
    color: black;
}
.band-tile{    
    background: url(../img/instagram.jpg) no-repeat center top;
}
#song-infos{
    color: black;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}